@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.short-desc-shadow {
  box-shadow: -4px 8px 10px rgba(0, 0, 0, 0.25);
}

.service-item-shadow {
  box-shadow: 5px 6px 16px rgba(0, 0, 0, 0.25);
}

/* @screen sm {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@screen md {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@screen lg {
  .container {
    width: 75%;
    margin: 0 auto;
  }
} */
